* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto" ,"Noto Sans Myanmar UI",arial,sans-serif;
    color: #202124;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

a {
    text-decoration: none;
}

/* Buttons */

.primary {
    color: #ffffff;
    background-color: #1a73e8;
    
    height: 36px;
    padding: 0 24px 0 24px;
    
    border-radius: 4px;
    border: none;
    
    letter-spacing: .50px;
    cursor: pointer;
}

.secondary {
    color: #1a73e8;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.016rem;
} 
/* Buttons */

.container {
    height: 31.375rem;
    width: 28.125rem;

    padding: 3rem 2.5rem 2.25rem;

    border: 0.063rem solid #dadce0;
    border-radius: 0.5rem;
}

.logo {
    display: flex;
    height: 24px;
    justify-content: center;
}

.inner-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 23rem;
}

.title {
    font-size: 24px;
    font-weight: 400;
    
    letter-spacing: 0.1px;
    line-height: 1.3;

    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border: 0.063rem solid #dadce0;
    border-radius: 20px;

    width: fit-content;
    height: 1.75rem;

    padding: 0.3rem;
}

.login {
    width:  -webkit-fill-available;
}

.show-password {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 0.75rem;
}

.checkbox {
    margin-right: 0.5rem;
    transform: scale(1.2);

}



.pic {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.25rem;

    border-radius: 50%;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://lh3.googleusercontent.com/a-/AOh14GjTi_HwOoxc3GW-5rPQQ7uvH_V0souet7XdDyOlByI=s128-c");
}


.subtitle {
    font-size: 0.75rem;
    font-weight: 400;
    
    letter-spacing: 0.006rem;

    text-align: center;
}

.pointer {
    height: 1rem;
}

.password {
    height: 56px;
    width: 100%;

    font-size: 16px;

    border-radius: 4px;
    border: 1px solid #dadce0;

    margin: 1px 1px 0 1px;
    padding: 13px 15px;
}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cta .secondary {
    font-weight: 400;
    height: 2rem;
    text-align: center;
    line-height: 2.2;
    
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    margin-left: -0.5rem;
}

.primary:hover {
    box-shadow: 0 0.063rem 0.125rem 0 rgb(60 64 67 / 30%), 0 0.063rem 0.188rem 0.063rem rgb(60 64 67 / 15%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    transition: 0.28s ease; 
}

.cta .secondary:hover {
    background-image: linear-gradient(rgba(23, 75, 166, 0.03) 0 0);
    color: #174ea6;
    transition: 0.28s ease; 
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px; 

    font-size: 12px;
    font-weight: 400;
    color: rgb(68, 68, 68);
    bottom: 500px;
    padding: 24px 0 0;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.language {
    color: #202124;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .25px;
}

.links .secondary {
    color: #757575;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .25px;
}

@media screen and (max-width:610px) {
    main {
        min-height: 0vh;
    }
   
    .container {
        height: 31.375rem;
        width: 100%;
    
        border: none;
        padding: 3rem 2.5rem 2.25rem;
    }


    footer {
        position: absolute;

        width: 100%;

        font-size: 10.125rem;
        font-weight: 400;
        color: rgb(68, 68, 68);
        bottom: 2rem;
    
        padding: 0 2.5rem;
    }

}
